---
const href = "/blak.nvim/";
---

<a href={href} class="site-title sl-flex" aria-label="blak.nvim home">
  <svg
    class="site-logo"
    width="22"
    height="22"
    viewBox="0 0 28 28"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    aria-hidden="true"
  >
    <defs>
      <radialGradient id="bl-logo" cx="50%" cy="50%" r="50%">
        <stop offset="0%" stop-color="#000"></stop>
        <stop offset="60%" stop-color="#000"></stop>
        <stop offset="68%" stop-color="#cc3300" stop-opacity="0.95"></stop>
        <stop offset="78%" stop-color="#ee6611" stop-opacity="0.9"></stop>
        <stop offset="88%" stop-color="#cc3300" stop-opacity="0.3"></stop>
        <stop offset="100%" stop-color="#cc3300" stop-opacity="0"></stop>
      </radialGradient>
    </defs>
    <circle cx="14" cy="14" r="13" fill="url(#bl-logo)"></circle>
    <circle cx="14" cy="14" r="7" fill="#000"></circle>
  </svg>
  <span class="site-title-text">blak.nvim</span>
</a>
